[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
main = "scrapy runspider netidee.py -O data_strict.csv -a mode=strict"
